 body {
    background-color: #272727;
    font-family: monospace;

}

table, td {
    margin: auto;
    border: 2px solid;
    border-color: #86C232;
    text-align: center;
    

}

td {
    padding: 10px;
    
}

.lable {
    color: #14A76C;
}

h1, h2{
    line-height: .03;
    color: #14A76C;
    font-size: 75px;
    text-align: center;
    
    
}

h2 {
    
    
}

img {
    margin-bottom: 15px;
    display: block;
    width: 75%;
    border: 6px solid #14A76C;
   
}

.me {
    margin: auto;
    
}

.dog {
    float: left;
    margin-right: 15px;
}

.guitar {
    float: right;
    margin-left: 15px;
}

.video, .field {
    
    margin: auto;
    
    text-align: center;
    
}


p {
    padding: 15px;
    margin: 5px;
    font-family: monospace;
    color: #86C232;
}

{
    font-size: 25px;
}


.about, .hobbies, .life, .clearfix, .image, .nav {
    overflow: auto;
    margin: 35px 65px;
    width: 1200;
    border: 3px solid #73AD21;
    
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right;
  
  
  
}

