body {
    background-color: #48D1CC;
    font-family: monospace;

}

table {
    width: 75%;
    text-align: center; 
    font-size: 25px;
    border-color: whitesmoke;

}

h1 {
    line-height: .03;
    color: whitesmoke;
    font-size: 75px;
    text-align: center;
    
    
}

img {
    margin: 10px;
    display: block;
    width: 75%;
    border-style: groove;
    border-color: whitesmoke;
}

.me {
    margin: auto;
    
}

.dog {
    float: left;
}

.guitar {
    float: right;
    
}



.video, .field {
    margin: auto;
    display: block;
    text-align: center;
}


p {
    margin: 5px;
    font-family: monospace;
    color: whitesmoke;
}


.about, .hobbies, .life, .clearfix {
    overflow: auto;
    margin: 35px 65px;
    width: 1200;
    border: 3px solid #73AD21;
    
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right;
  padding: 5px;
  margin; 35px 65px;
}

