  body {
    background-color: #272727;
    font-family: monospace;

}

/*table grid for lables*/
table, td {
    margin: auto;
    border: 2px solid;
    border-color: #86C232;
    text-align: center;
}

td {
    padding: 10px;
}

/*name generator*/
.input {
    background-color: lightgray;
    width: 300px;
    padding: 25px;
    margin: auto;
    border: 25px solid;
    border-color: #86C232;
    text-align: center;
}
#N1, #N2{
    background-color: lightgray;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border: 25px solid;
    border-color: #86C232;
    text-align: center;
}

#N1, #N2, .output {
    
}
#N1{
    float: left;
    padding: 10px;
    margin-left: 225px;
    text-align: right;
}
#N2 {
    float: right;
    padding: 10px; 
    margin-right: 225px;
    text-align: left;
}

/*Lable colors*/
.lable {
    color: #14A76C;
}

/*Headings*/
h1, h2{
    line-height: .03;
    color: #14A76C;
    font-size: 75px;
    text-align: center;   
}
/* Images */
img {
    margin-bottom: 15px;
    display: block;
    width: 75%;
    border: 6px solid #14A76C;
   
}
.img-circle {
    border-radius: 100%;

.me {
    margin: auto;
    
}

.dog {
    float: left;
    margin-right: 15px;
}

.guitar {
    float: right;
    margin-left: 15px;
}

.video, .field {
    margin: auto;
    text-align: center; 
}

/*Paragraphs*/
p {
    padding: 15px;
    margin: 5px;
    font-family: monospace;
    color: #86C232;
}

/*Paragraphs borders*/
.about, .hobbies, .life, .clearfix, .image, .nav {
    overflow: auto;
    margin: 35px 65px;
    border: 3px solid #73AD21; 
}

/*link that returns to top of site*/
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right; 
}

